
body {
    font-family: 'Arial', serif;
    background-color: blue; 
    color: red;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: blue;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Arial, serif;
    border-bottom: 3px solid blue;
    color: green;
    font-size: 30px;
}
